# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
+ List popular languages for Data Science 
+ List commonly libraries for Data Scientists
+ Add a clounm for Data Science Tools
+ To add integer multiples, use a simple arithmetic expression.

Some of the popular languages that Data Scientists use are:
1. Python
2. SQL
3. R

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Matplotlib

|Data Science Tools |
| ------ |
|Hadoop|
|MySQL|
|Airflow|
|Kafka|

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
#This a simple arithmetic expression to mutiply then add integers 
(3*4)+5

17

In [3]:
#This will convert 200 minutes to hours by diving by 60
round(200/ 60, 2)

3.33

## Author

Vanessa